/*ENTRADA*/
body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen-presentacion {
  margin-top: 20px; 
}

@media (max-width: 280px) {
  .imagen-presentacion {
    margin-top: 50px;
    max-width: 100%; 
  }
}

/*MENU*/
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  margin-top: 80px; 
}
ul {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center; 
  text-align: center;
  position: fixed;
  top: 0;
  background-color: #fff; 
  z-index: 1000; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  align-items: center; 
}
li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #1e385c;
  position: relative;
}
li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}
li:active {
  transform: translateY(4px);
}
@keyframes spring {
  15% {
    transform-origin: center center;
    transform: scale(1.2, 1.1);
  }
  40% {
    transform-origin: center center;
    transform: scale(0.95, 0.95);
  }
  75% {
    transform-origin: center center;
    transform: scale(1.05, 1);
  }
  100% {
    transform-origin: center center;
    transform: scale(1, 1);
  }
}
.menu a {
  text-decoration: none;
}
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px; 
}
li:hover .submenu {
  display: block;
}

@media (max-width: 280px) {
  ul {
    flex-direction: column; 
    align-items: flex-start; 
  }

  li {
    width: 100%; 
    padding: 1rem 0.5rem; 
  }

  .submenu {
    position: static; 
    width: auto; 
    display: none; 
  }

  li:hover .submenu {
    display: none; 
  }
}

/*LOGO-EMPRESA*/
.imagen-presentacion {
  text-align: center; 
}
.logo {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}

/*TEXTO-PRESENTACIÓN*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand');
@import "bourbon";

font-serif: 'Playfair Display', serif;
font-sans: 'Quicksand', sans-serif;

header {
  color: #dadada;
  font-family: font-serif;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
  
  h1 {
    margin-top: 0;
  }
  a {
    color: lighten(#27ae60, 15%);
  }
} 
main {
  margin: 50px auto 0;
  max-width: 820px; 
  .cat-one,
  .cat-two,
  .cat-three {
    max-width: 100%; 
  }
  .cat-one,
  .cat-two,
  .cat-three {
    float: none; 
    shape-outside: none; 
    transform: none; 
  }
  .cat-one {
    clip-path: circle(50% at center);
    max-width: 60%;
}
.cat-two {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    max-width: 60%;
}

.cat-three {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    max-width: 60%;
}
  .backpack p {
    color: #444;
    font-size: 16px;
  }
  .backpack p:first-child {
    color: red;
    font-size: 20px;
  }
  .backpack p:nth-child(2) {
    color: blue;
    font-size: 18px;
  }
  
  .backpack p:nth-child(3) {
    color: green;
    font-size: 16px;
  }

}
/* Media Query para 375px */
@media only screen and (max-width: 375px) {
  main {
    margin: 20px auto 0; 
  }
  
  .backpack p {
    font-size: 14px; 
  }
  
  .backpack p:first-child {
    font-size: 18px; 
  }
  
  .backpack p:nth-child(2) {
    font-size: 16px; 
  }
  
  .backpack p:nth-child(3) {
    font-size: 14px; 
  }
}

/*cards*/
.card-container {
  background-color: azure;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}

.card {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  margin-bottom: 20px;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 350px;
  border-radius: 6px;
  transition: box-shadow 0.3s ease;
  background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
 
}

.card-p {
  font-size: 25px;
  margin: 0;
  padding: 10px 0; 
  text-align: center; 
  color: #036afb ;
}
@media (max-width: 414px) {
  .card-p {
    font-size: 12px; 
  }
}

.card-description {
  font-size: 13px; 
  line-height: 1.5; 
  color: #333; 
  text-align: justify; 
}
.card-container h2 {
  font-size: 50px; 
  margin-bottom: 30px; 
  width: 100%; 
  text-align: center; 
  color: #1e385c;
}

.card::after {
  content: "";
  position: absolute;
  z-index: -6;
  border-radius: 6px;
  width: 320px;
  height: 370px;
  transition: .7s;
 background-image: linear-gradient(147deg, transparent 0%, transparent 8%,rgba(63, 106, 202,0.08) 8%, rgba(63, 106, 202,0.08) 46%,transparent 46%, transparent 100%),linear-gradient(107deg, transparent 0%, transparent 21%,rgba(63, 106, 202,0.08) 21%, rgba(63, 106, 202,0.08) 53%,transparent 53%, transparent 100%),linear-gradient(288deg, transparent 0%, transparent 35%,rgba(63, 106, 202,0.08) 35%, rgba(63, 106, 202,0.08) 91%,transparent 91%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.card-countent {
  font-size: 18px;
  text-align: center;
  color: transparent;
  transition: all .7s;
  opacity: 0;
  padding-left: 140px
}

.card-countent img {
  max-width: 100px; 
  display: block; 
  margin: 0 auto; 
}

.card:hover {
  transition: .7s;
  transform: rotate(180deg);
}

.card:hover > .card-p {
  color: transparent;
}

.card:hover > .card-countent {
  opacity: 1;
  color: #000;
  transform: rotate(-180deg);
}


@media screen and (max-width: 768px) {
  .card {
    width: 100%; 
    height: 300px;
  }
}

@media screen and (max-width: 820px) {
  .card {
    width: 100%; 
    height: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 100%; 
    height: 300px;
  }
}

@media (max-width: 280px) {
  .card {
    width: 60%; 
  }

  .card-p {
    font-size: 16px; 
    text-align: center;
    padding-left:45px; 
  }

  .card-description {
    font-size: 11px; 
  }
}


/*ASISTENTE-LEGAL*/

.gratis{
  background: #1e385c;
  width: 100%;
}
main, .asesoria {
  text-align: center;
	color:gold;
	font-family: "Libre Baskerville", serif;
	line-height: 1.7;
	position: relative;
  height: 80%;

}
.imagen {
  float: right; 
	height: 80%;
	width: 90%;
	shape-outside: ellipse(224px 320px at 35.1% 50%);
  opacity: 0.1;

}
main, .title {
	margin: 0 auto;
	max-width: 60rem;
}

.title {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.1;
	margin: 0 0 .5rem 0;
	padding: 3.5rem 0 0;
	
	span {
		color: hsl(200, 90, 90);
		font-size: 2rem;
		font-style: italic;
		font-weight: 400;
		line-height: 1.2;
		margin: 0;
	}
}

@supports (shape-outside: circle() ) {
	.title {
		padding: 2.0rem 0 0;
	}
}
.enlace-especial {
  color:white; 
  
}
.intro {
	color: hsl(30, 50, 60);
	font-style: italic;
	font-size: 1.4rem;
	text-shadow: 1px 1px 1px #333;
}
p {
	margin: 0;
	padding-top: 1.5rem;
}
.first {
	padding-top: 1.22rem;
}

/*PRESENTACIONES-ABOGADOS*/

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}
.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}
.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 60%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}
.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/*CONSULTARÍA*/
.consulta{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(90deg, rgba(165, 165, 165, 0.03) 0%, rgba(165, 165, 165, 0.03) 8%,rgba(235, 235, 235, 0.03) 8%, rgba(235, 235, 235, 0.03) 9%,rgba(7, 7, 7, 0.03) 9%, rgba(7, 7, 7, 0.03) 14%,rgba(212, 212, 212, 0.03) 14%, rgba(212, 212, 212, 0.03) 17%,rgba(219, 219, 219, 0.03) 17%, rgba(219, 219, 219, 0.03) 95%,rgba(86, 86, 86, 0.03) 95%, rgba(86, 86, 86, 0.03) 100%),linear-gradient(67.5deg, rgba(18,199,199, 0.03) 0%, rgba(18,199,199, 0.03) 11%,rgba(138, 138, 138, 0.03) 11%, rgba(138, 138, 138, 0.03) 17%,rgba(122, 122, 122, 0.03) 17%, rgba(122, 122, 122, 0.03) 24%,rgba(166, 166, 166, 0.03) 24%, rgba(166, 166, 166, 0.03) 27%,rgba(245, 245, 245, 0.03) 27%, rgba(245, 245, 245, 0.03) 89%,rgba(88, 88, 88, 0.03) 89%, rgba(88, 88, 88, 0.03) 100%),linear-gradient(67.5deg, rgba(244, 244, 244, 0.03) 0%, rgba(244, 244, 244, 0.03) 4%,rgba(16, 16, 16, 0.03) 4%, rgba(16, 16, 16, 0.03) 10%,rgba(157, 157, 157, 0.03) 10%, rgba(157, 157, 157, 0.03) 20%,rgba(212, 212, 212, 0.03) 20%, rgba(212, 212, 212, 0.03) 83%,rgba(5, 5, 5, 0.03) 83%, rgba(5, 5, 5, 0.03) 84%,rgba(237, 237, 237, 0.03) 84%, rgba(237, 237, 237, 0.03) 100%),linear-gradient(90deg, #ffffff,#ffffff);

}
.contenedor{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.contenedor .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contenedor form{
  padding: 30px 0 0 0;
}
.contenedor form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

@media (max-width: 700px) {
  .contenedor .text{
    font-size: 30px;
  }
  .contenedor form{
    padding: 10px 0 80px 0;
  }
  .contenedor form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

/*PIE-DE-PAGINA*/
.pie-pagina{
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: gold;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: white;
  font-size: 17px;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}


